h1 {
    font-family: "Times New Roman", Times, serif;
  }
label {
    font-family: "Times New Roman", Times, serif;
}
#container{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
body {
    background: linear-gradient(to bottom, #000066 0%, #3399ff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: seagreen;
    background: url('BLUE.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border: none;
    background-color: rgb(5, 83, 173);
    color:rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color:rgb(10, 124, 254);
}
button:active{
    background-color:rgb(69, 156, 255);
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
#diceResult{
    margin: 25px;
}

#diceImages img{
    width: 150px;
    margin: 5px;
}